<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <div class="header">
        <h1>Admin Panel</h1>

        <a href="/">Home</a>
        <a href="/menu_admin">Menu</a>
    </div>

    <div id="computer_administration">
        <h2>Computer Administration</h2>
        <div id="computer_list"></div>
    </div>
    <script src="/static/js/admin.js"></script>
</body>
</html>
