<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div class="login-container">
        <h1>Log ind</h1>

        <form id="loginForm">
            <div class="form-group">
                    <label for="brugernavn">Brugernavn</label>
                    <input
                        type="text"
                        id="brugernavn"
                        name="brugernavn"
                        placeholder="anders123"
                        required
                    >
                </div>
                <div class="form-group">
                    <label for="adgangskode">Adgangskode</label>
                    <input
                        type="password"
                        id="adgangskode"
                        name="adgangskode"
                        placeholder="Mindst 8 tegn"
                        required
                    >
                </div>
            </div>

            <button id="btn-submit">Registrer dig</button>
        </form>

        <p class="login-link">Har du allerede en konto? <a href="#">Log ind</a></p>
    </div>

    <script src="../static/js/login.js"></script>
</body>
</html>
