<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/static/css/profile.css">
</head>
<body>
    <div class="header">
        <h1>{{ user.fornavn }}'s Profile</h1>
    </div>

    <div class="profile-info">
        <p><strong>Username:</strong> {{ user.brugernavn }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>First Name:</strong> {{ user.fornavn }}</p>
        <p><strong>Last Name:</strong> {{ user.efternavn }}</p>
        <p><strong>credits:</strong>{{ user.credits }}</p>
    </div>

    <div id="transaction-history">
         <h2>Transaction History</h2>
    </div>

    <script>
        const userId = "{{ user.userid }}";
    </script>
    <script src="/static/js/profile.js"></script>
</body>
</html>
